.debug {
    color: rgb(77, 208, 72);
}

#login-fav-color {
    width: 40px;
    height: 20px;
    box-sizing: content-box;
}

#user-head {
    width: 0.7em;
    height: 0.7em;
    margin: 0 0.15em;
    background-color: #8BC34A;
    border-radius: 50%;
}

#user-body {
    width: 1em;
    height: 1em;
    background-color: #8BC34A;
    clip-path: ellipse(50% 100% at 50% 100%);
    transform: translate(0, -5%);
}

.buy-list-item {
    overflow-wrap: anywhere;
}

.buy-list-item:hover {
    background-color: lightcyan;
}

.buy-list-item:hover img {
    transform: scale(1.1);
}

.buy-list-image {
    width: 80px;
    height: 80px;
    object-fit: contain;
    transition: transform 0.3s;
}

.buy-list-name {
    text-decoration: unset;
    color: unset;
}

.page-count-unlink:hover {
    color: var(--bs-pagination-color);
    background-color: inherit;
}

.buy-item-image {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.bought-info-alert {
    width: fit-content
}
