{% extends 'base.html' %}

{% block content %}
    <div class="row mt-3">
      <div class="col-md-6">
        <img src="{{model.item.image}}" alt="Item image." class="buy-item-image shadow bg-light">
      </div>
      <div class="col-md-6 mt-md-0 mt-3">
        <div>
          {{model.item.name}}
        </div>
        <div>
          {{model.item.description}}
        </div>
        <div>
          {{model.item.price}} zł
        </div>
        <div class="mt-3">
          <button id="buy" type="button" class="btn btn-success w-25"
            data-bs-toggle="offcanvas" data-bs-target="#offcanvasConfirmBuy" aria-controls="offcanvasConfirmBuy">
            Buy
          </button>
          <button type="button" class="btn btn-warning w-25">Ask</button>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div>
        {{model.details.long_descr}}
      </div>
    </div>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasConfirmBuy" aria-labelledby="offcanvasConfirmBuyLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasConfirmBuyLabel">Buy it</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div>
          Please confirm you want to buy it and pay {{model.item.price}} zł.
        </div>
        <div class="dropdown mt-3 text-center">
          <form action="/buy/item" method="post">
            <input type="hidden" name="itemId" value="{{model.item.id}}">
            <button class="btn btn-success w-50" type="submit">Buy</button>
          </form>
        </div>
      </div>

    <script>
      /*const b = document.getElementById('buy');
      b.addEventListener('click', () => {
        const id = '{{model.item.id}}';
        console.log('kupuję', id);
      });*/
      // TODO: Use Offcanvas for confirmation.
    </script>
{% endblock %}
